* {
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    margin: 0;
}

/*  || image part of sign up form */
.image-container {
    flex: 1;
}

/*  || right side part of sign up form */
.form-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    height: 100vh;
    padding: 30px;
    flex: 2;
}

/*  || caption */
.caption {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    font-weight: 700;
    font-size: 1.3em;
}

/*  ||  form elements */
.form-elements {
    background-color: whitesmoke;
    padding: 20px;
    box-shadow: 4px 3px 7px 2px rgba(0,0,0,0.2);
}

.form-header {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.form-elements form {
    display: flex;
    flex-wrap: wrap;
    padding-right: 100px;
}

.form-label {
    display: block;
    letter-spacing: 2px;
    font-size: 0.7em;
}

.form-item {
    margin-top: 13px;
    margin-right: 60px;
}

.form-input {
    height: 20px;
    width: 260px;
}

/*  || create account button */

.create-account-button {
    height: 40px;
    width: 160px;
    border-radius: 6px;
}